
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
</head>
<body>
    <header>
        <h1>Best Books!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
            </ul>
        </nav>
    </header>
    <section class="book-details">
        <img src="<%=book.image_url%>">
        <h4><%=book.title%></h4>
        <p><%=book.author%></p>
        <section>
            <p><%=book.description%></p>
        </section>
        <p>ISBN: <%=book.isbn%></p>
        <form action="/edit" method="post">
            <input type="hidden" name="id" value="<%= book.id %>">
            <button id="<%= book.title %>" type="submit">Update Details</button>
        </form>
        <form action="/remove" method="post">
            <input type="hidden" name="id" value="<%= book.id %>">
            <button type="submit">Remove Book</button>
        </form>
    </section>
    <a href="/"><button>Home</button></a>
</body>
</html>