<!DOCTYPE html>
<html>
  <head>
    <title>Book App</title>
    <link href="./styles/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Best Books!</h1>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/search">Search</a></li>
          </ul>
      </nav>
  </header>   
    <h1>Search for Books:</h1>
    <section class="books">
      <p>Total Books: <%= books.length %></p>
      <% books.forEach(book => { %>
        <img src="<%= book.image_url %>">
        <h4> <%=book.title%></h4>
        <p><%= book.author%></p>
        <a href="/books/<%= book.id %>">
          <button id="<%= book.title %>">View Details</button>
        </a>
      <% }) %>
    </section>
    <script src="../../public/js/app.js"></script>
  </body>
</html>